<h1>News Scraper</h1>

<h3>Scraped Stories</h3>
<hr>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>Headline: {{this.hed}}</p>
       <p>Story: {{this.body}}</p>
  	</li>
  {{/each}}
</ul>
<!-- The above was {{this.id}} and {{this.wish}} -->

<div>
  <form action="/" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>
